.swiper-wrapper{
        width: 100%;
    }
    .swiper-slide{
        width: 50% !important;
        height: auto !important;
        padding: 20px;
    }
    img{
      width: 100%;
      height: auto;
    }
    .num-div p{
        color: #C0C0C0 !important;
        font-size: 80px;
    }
    .text-div h3{
        font-size: 32px;
        text-align: start;
    }
    .text-div p{
        font-size: 16px;
        color: #EAEAEA;
        text-align: start;
    }
    .btm-01 img{
        width: 100%;
    }
    .swiper-button-prev, .swiper-button-next{
      background-image: none !important;
      background-color: #3C3C3C;
      border-radius: 50%;
      height: auto;
    }
    .navigation-buttons{
      position: absolute;
      bottom: 20px;
      width: 100%;
      display: flex !important;
      flex-direction: row !important;
        justify-content: center !important;
        align-items: center;
      gap: 20px !important;
      z-index: 5;
    }
    .swiper-button-prev{
        left: 85% ;
    }
    .swiper-button-next{
        right: 8%;
    }